In [18]:
import pandas as pd
import datetime
import os
import importlib

In [1]:
import talib

In [36]:
importlib.reload(functions)
from functions import *

In [24]:
files = os.listdir('day_aggs')

In [25]:
filedates = [datetime.strptime(f.split('.')[0], '%Y-%m-%d').date() for f in files]

In [53]:
import talib

ModuleNotFoundError: No module named 'talib'

In [51]:
df = pd.read_csv('all_dailies.csv')

In [52]:
df.head()

,ticker,volume,open,close,high,low,window_start,transactions,date
0,A,783350,81.57,81.69,81.71,80.585,1554696000000000000,8040,2019-04-08
1,AA,2375490,29.55,29.66,29.73,29.320,1554696000000000000,13301,2019-04-08
2,AAAU,10896,13.00,12.96,13.01,12.960,1554696000000000000,29,2019-04-08
3,AABA,16611754,73.65,74.46,74.78,73.580,1554696000000000000,78459,2019-04-08
4,AAC,97919,2.04,2.06,2.07,1.980,1554696000000000000,540,2019-04-08