In [1]:
import pandas as pd
import talib

In [20]:
df = pd.read_csv('all_dailies.csv')

In [21]:
df['value'] = df['close'] * df['volume']

In [22]:
latest = df[df['date'] == df['date'].max()].copy()
latest.sort_values('value', ascending=False, inplace=True)

In [26]:
order = latest['ticker'].tolist()

In [29]:
def ranking(ticker):
    if ticker not in order:
        return None
    return order.index(ticker)

In [37]:
order[:5]

['NVDA', 'SPY', 'QQQ', 'AMD', 'TSLA']

In [38]:
rankdict = dict(zip(order, list(range(len(order)))))

In [31]:
df['rank'] = df['ticker'].apply(ranking)

In [51]:
def altranking(ticker):
    if ticker not in rankdict:
        return None
    return int(rankdict[ticker])

In [54]:
df['altrank'] = df['ticker'].apply(altranking)

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'function'

In [ ]:
df[['ticker', 'rank', 'altrank']].head(30)

   ticker    rank  altrank
0       A   468.0    468.0
1      AA   598.0    598.0
2    AAAU  1385.0   1385.0
3    AABA     NaN      NaN
4     AAC     NaN      NaN
5    AADR  9491.0   9491.0
6     AAL   277.0    277.0
7    AAMC  7424.0   7424.0
8    AAME  9557.0   9557.0
9     AAN  4804.0   4804.0
10   AAOI  1804.0   1804.0
11   AAON  1243.0   1243.0
12    AAP   692.0    692.0
13   AAPL     5.0      5.0
14    AAT  2831.0   2831.0
15    AAU     NaN      NaN
16   AAWW     NaN      NaN
17   AAXJ  1039.0   1039.0
18   AAXN     NaN      NaN
19     AB  2625.0   2625.0
20    ABB     NaN      NaN
21   ABBV   110.0    110.0
22    ABC     NaN      NaN
23   ABCB  2837.0   2837.0
24   ABDC     NaN      NaN
25   ABEO  4124.0   4124.0
26   ABEV  1827.0   1827.0
27    ABG  1317.0   1317.0
28   ABIL     NaN      NaN
29   ABIO  5486.0   5486.0

In [50]:
int(4.0)

4

In [47]:
df.head(30)

,ticker,volume,open,close,high,low,window_start,transactions,date,value,rank
0,A,783350,81.5700,81.6900,81.7100,80.5850,1554696000000000000,8040,2019-04-08,6.399186e+07,468.0
1,AA,2375490,29.5500,29.6600,29.7300,29.3200,1554696000000000000,13301,2019-04-08,7.045703e+07,598.0
2,AAAU,10896,13.0000,12.9600,13.0100,12.9600,1554696000000000000,29,2019-04-08,1.412122e+05,1385.0
3,AABA,16611754,73.6500,74.4600,74.7800,73.5800,1554696000000000000,78459,2019-04-08,1.236911e+09,NaN
4,AAC,97919,2.0400,2.0600,2.0700,1.9800,1554696000000000000,540,2019-04-08,2.017131e+05,NaN
5,AADR,6084,46.5000,46.5589,46.5589,46.3900,1554696000000000000,38,2019-04-08,2.832643e+05,9491.0
6,AAL,6219760,33.6400,33.8800,33.9529,33.4400,1554696000000000000,36850,2019-04-08,2.107255e+08,277.0
7,AAMC,1150,30.0900,30.0000,30.0900,30.0000,1554696000000000000,36,2019-04-08,3.450000e+04,7424.0
8,AAME,3206,2.6374,2.5200,2.6374,2.5200,1554696000000000000,15,2019-04-08,8.079120e+03,9557.0
9,AAN,298132,53.4000,53.5600,53.5700,52.6400,1554696000000000000,3414,2019-04-08,1.596795e+07,4804.0
10,AAOI,639136,12.7000,12.5000,12.8997,12.2631,1554696000000000000,5165,2019-04-08,7.989200e+06,1804.0
11,AAON,128104,45.6500,45.7300,46.0800,45.2300,1554696000000000000,1937,2019-04-08,5.858196e+06,1243.0
12,AAP,830258,175.7800,177.5900,178.0400,173.8300,1554696000000000000,9936,2019-04-08,1.474455e+08,692.0
13,AAPL,25843678,196.4200,200.1000,200.2300,196.3400,1554696000000000000,180911,2019-04-08,5.171320e+09,5.0
14,AAT,218751,46.8100,46.0000,46.8600,45.9500,1554696000000000000,2659,2019-04-08,1.006255e+07,2831.0
15,AAU,192677,0.5880,0.5649,0.5956,0.5600,1554696000000000000,185,2019-04-08,1.088432e+05,NaN
16,AAWW,184769,50.3900,50.4900,50.7300,50.1300,1554696000000000000,2439,2019-04-08,9.328987e+06,NaN
17,AAXJ,1498491,72.6600,72.9700,73.0200,72.5600,1554696000000000000,8044,2019-04-08,1.093449e+08,1039.0
18,AAXN,791443,59.5600,60.3200,60.6600,58.3200,1554696000000000000,7794,2019-04-08,4.773984e+07,NaN
19,AB,88499,29.4100,29.3200,29.4800,29.2800,1554696000000000000,527,2019-04-08,2.594791e+06,2625.0
20,ABB,1773966,19.6500,19.7500,19.7790,19.6100,1554696000000000000,7711,2019-04-08,3.503583e+07,NaN
21,ABBV,3499353,83.7000,83.9800,84.0000,82.7800,1554696000000000000,26626,2019-04-08,2.938757e+08,110.0
22,ABC,1717291,77.1000,78.1200,78.3900,76.5000,1554696000000000000,13191,2019-04-08,1.341548e+08,NaN
23,ABCB,232683,35.8000,36.0900,36.1200,35.6100,1554696000000000000,3718,2019-04-08,8.397529e+06,2837.0
24,ABDC,21092,8.0000,8.0000,8.1600,7.9400,1554696000000000000,146,2019-04-08,1.687360e+05,NaN
25,ABEO,279782,7.7700,7.5900,7.8475,7.5200,1554696000000000000,2254,2019-04-08,2.123545e+06,4124.0
26,ABEV,15855959,4.4800,4.4900,4.5100,4.4200,1554696000000000000,13098,2019-04-08,7.119326e+07,1827.0
27,ABG,116395,71.4500,72.1600,72.7500,70.9900,1554696000000000000,1648,2019-04-08,8.399063e+06,1317.0
28,ABIL,46601,1.7400,1.7087,1.7500,1.6900,1554696000000000000,177,2019-04-08,7.962713e+04,NaN
29,ABIO,344908,5.7600,5.4000,5.8500,5.3000,1554696000000000000,1532,2019-04-08,1.862503e+06,5486.0